build
models
*.log
Dissertation/bstract.aux
Dissertation/abstract.tex.backup
Dissertation/architecture.aux
Dissertation/architecture.tex.backup
Dissertation/article.aux
Dissertation/article.bbl
Dissertation/article.bib.backup
Dissertation/article.blg
Dissertation/article.dvi
Dissertation/article.lof
Dissertation/article.log
Dissertation/article.lot
Dissertation/article.out
Dissertation/article.pdf
Dissertation/article.tex.backup
Dissertation/article.toc
Dissertation/experiments.aux
Dissertation/experiments.tex.backup
Dissertation/introduction.aux
Dissertation/introduction.tex.backup
Dissertation/titlepage.aux
Dissertation/zyciorys.aux
Dissertation/zyciorys.tex
Dissertation/zyciorys.tex.backup
