build
models
*.log
Disseration/abstract.aux
Disseration/architecture.aux
Disseration/article.aux
Disseration/article.bbl
Disseration/article.blg
Disseration/article.lof
Disseration/article.lot
Disseration/article.out
Disseration/article.toc
Disseration/experiments.aux
Disseration/introduction.aux
Disseration/titlepage.aux
Disseration/zyciorys.aux
Disseration/article.pdf
